<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression Git-Hub Repository Suite">
	<listeners>
		<listener class-name="utils.Listeners"></listener>
	</listeners>
	<test name="Created Repository">
		<classes>
            <class name="gitHubRepositoryAPITestCase.TC001_Create_GitHub_Repository" />
            <class name="gitHubRepositoryAPITestCase.TC002_Get_The_Created_Repository" />
            <class name="gitHubRepositoryAPITestCase.TC003_Update_The_Created_Repository" />
            <class name="gitHubRepositoryAPITestCase.TC004_Delete_The_Created_Repository" />
        </classes>
	</test>
</suite> <!--
Suite -->
